.logo{
    height: 100px;
    width: 100px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #ccc;
}

.nav-items >ul {
    display: flex;
    gap: 20px;
    padding: 0px 20px;
}
.nav-items > ul > li {
    list-style: none;
    font-size: 24px;
    font-weight: bold;
}
.search-container{
    margin: 10px 0px;
   
}
.res-card{
    background-color: #dde7ed;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    margin: 10px ;
    height: 100%;
    width: 200px;
}

.res-card:hover{
    background-color: #cce0f0;
    cursor: pointer;
}
.res-logo{
    width: 100%;
}
.search-btn{
    background-color: #4d9aec;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.search-bar{
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.restaurant-container{
     display: flex;
    flex-wrap: wrap;
}
.cuisines{
    color: rgba(2, 6, 12, 0.6);
}

.filter-btn{
    background-color: #4d9aec;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}